.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  align-items: center;
  img {
    height: 150px;
    width: 150px;
  }
  nav ul {
    display: flex;
    gap: 5rem;
    a {
      color: $clr-black;
      font-weight: $fw-400;
      &:hover {
        border-bottom: 2px solid $clr-brown;
      }
    }
  }
  .btn {
    color: $clr-black;
    font-weight: $fw-900;
    border-radius: 5px;
    cursor: pointer;
    background-color: $clr-khaki;
  }
}
