@media (min-width: 670px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .sobre-nosotros_hero {
    grid-template-columns: 1fr 1fr;
  }
  .nuestra-historia_container {
    display: flex;
  }
}

@media (min-width: 1100px) {
  .hero-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .wrapper {
    flex-direction: row;
  }
  .cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
