.servicios-title {
  font-weight: $fw-900;
  color: $clr-khaki;
  text-align: center;
  margin-block: 3rem;
}

.cards-wrapper {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: 1rem;
  padding: 2rem;
}

.card-title {
  font-weight: $fw-900;
  text-align: center;
}

.btn {
  margin-top: 1rem;
}
