.sobre-nosotros_hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}

.sobre-nosotros_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  h1 {
    color: $clr-khaki;
    font-weight: $fw-900;
  }
}

.nuestra-historia_container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 2rem;
  h2 {
    color: $clr-khaki;
    font-weight: $fw-900;
    margin-block: 2rem;
  }
}
